@font-face {
    font-family: "cg";
    src: url(../VINERITC.TTF);
}

@font-face {
    font-family: "imp";
    src: url(../IMPRISHA.TTF);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');