* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cdc5bcff;
    font-family: sans-serif;
}

#titulo {
    text-align: center;
    font-family: "imp";
    @include mobile{
        font-size: 40px;
    }
}